#container {
  margin: 0 auto;
  width: 980px;
}
#title {
  margin-bottom: 10px;
}
* {
  margin: 0;
  padding: 0;
}
#zone-form,
#resize-canvas-form {
  float: left;
  margin-left: 30px;
  background-color: coral;
  padding: 10px;
}

#map-setting-form {
  margin-bottom: 30px;
  float: left;
  background-color: coral;
  padding: 10px;
}

#map-setting-form legend,
#zone-form legend,
#resize-canvas-form legend {
  font-size: 1.3em;
  padding-bottom: 3px;
  font-weight: bold;
}

#drawButton,
#resizeButton {
  padding: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
}

canvas {
  clear: both;
  display: block;
}

h2 {
  clear: both;
}

.clear-float {
  clear: both;
}

#save-map-button {
  margin-bottom: 30px;
}

/* La parte della lista di items*/
#list-grid {
  margin-top: 10px;
  margin-left: -8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 100%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  margin: 4px;
  height: 50px;
  width: 50px;
}

.info-point table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}

#item-info-point table th,
#item-info-point table td {
  border: 1px solid black;
  text-align: left;
}

#delete-image {
  font-size: 20px;
}

.hidden {
  display: none;
}

#input-text {
  width: 300px;
}
