#container{
  margin: 0 auto;
  width: 1000px;
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  background-color:aquamarine
}

form{
  margin-left: 10px;
  margin-top: 10px;
}
#drawButton{
  margin-left: 10px;
  margin-bottom: 10px;
}