#container {
  margin: 0 auto;
  width: 980px;
}

* {
  margin: 0;
  padding: 0;
}
#zone-form {
  margin-bottom: 10px;
}
canvas {
  display: block;
  background-color: aqua;
}

#drawButton {
  margin-bottom: 10px;
  margin-top: 10px;
}
