.navbar {
  margin-bottom: 20px;
}

.clear-float {
  clear: both;
}

#save-map-button {
  margin-bottom: 30px;
}

.tab-pane {
  margin: 10px;
}

canvas {
  clear: both;
  display: block;
}
/* La parte della lista di items*/

.column img {
  margin: 4px;
  height: 50px;
  width: 50px;
}

#til-image,
#teom-image0,
#teom-image1,
#teom-image2,
#taken-image {
  height: 40px;
  width: 40px;
}

.hidden {
  display: none;
}

#colonne-label,
#righe-label {
  width: 15%;
  float: left;
}

#tab-list {
  margin-bottom: 20px;
  margin-top: 20px;
}

#entita {
  float: left;
  width: 60%;
}
#table-img-list {
  margin-top: -10px;
  float: left;
  width: 40%;
}

.width_33 {
  width: 32%;
  float: left;
  margin-right: 10px;
}

.width_50 {
  width: 40%;
  margin-right: 10px;
  float: left;
}

#pills-tab {
  margin-top: 20px;
  margin-bottom: 20px;
}
