<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-home"
    role="tabpanel"
    aria-labelledby="pills-home-tab"
    tabindex="0"
  >
    <div class="container">
      <div class="row">
        <div class="col-7" id="entita">
          <div class="column" id="img-list"></div>
        </div>
        <div class="col-5" id="table-img-list">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Class</th>
                <th scope="col">Position</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img id="til-image" src="static\images\empty.png" />
                </td>
                <td id="til-class">Select an entity</td>
                <td>
                  <select name="list" id="til-position">
                    <option value="on-floor">On the floor</option>
                    <option value="on-top">On top</option>
                    <option value="on-bottom">On bottom</option>
                    <option value="inside">Inside</option>
                  </select>
                </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Size</th>
                <th scope="col">Orientation</th>
                <th scope="col" id="power_status_col" class="hidden">
                  Power status
                </th>
                <th scope="col" id="physical_status_col" class="hidden">
                  Physical status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select name="list" id="size">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="big">Big</option>
                  </select>
                </td>
                <td>
                  <select name="list" id="orientation">
                    <option value="horizontal">Horizontal</option>
                    <option value="vertical">Vertical</option>
                  </select>
                </td>
                <td id="power_status" class="hidden">
                  <select name="list" id="power_status_value">
                    <option value="on">On</option>
                    <option value="off">Off</option>
                  </select>
                </td>
                <td id="physical_status" class="hidden">
                  <select name="list" id="physical_status_value">
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-profile"
    role="tabpanel"
    aria-labelledby="pills-profile-tab"
    tabindex="0"
  >
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <table class="table" id="cell-table">
            <thead>
              <tr>
                <th scope="col">Class</th>
                <th scope="col">Id</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="cell-class">Cell</td>
                <td id="cell-id">Id</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Coordinates</th>
                <th scope="col">Zone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="cell-coordinates">X:0 Y:0</td>
                <td id="cell-zone">Zone</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table hidden" id="table-entity-on-map0">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Class</th>
                <th scope="col">Id</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img id="teom-image0" src="static\images\empty.png" />
                </td>
                <td id="teom-class0">Class</td>
                <td id="teom-id0">Id</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Position</th>
                <th scope="col">Coordinates</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="teom-position0">On the floor</td>
                <td id="teom-coordinates0">X:0 Y:0</td>
                <td id="teom-delete0">
                  <button id="delete-entity-btn0">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table hidden" id="table-entity-on-map1">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Class</th>
                <th scope="col">Id</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img id="teom-image1" src="static\images\empty.png" />
                </td>
                <td id="teom-class1">Class</td>
                <td id="teom-id1">Id</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Position</th>
                <th scope="col">Coordinates</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="teom-position1">On the floor</td>
                <td id="teom-coordinates1">X:0 Y:0</td>
                <td id="teom-delete1">
                  <button id="delete-entity-btn1">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table hidden" id="table-entity-on-map2">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Class</th>
                <th scope="col">Id</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img id="teom-image2" src="static\images\empty.png" />
                </td>
                <td id="teom-class2">Class</td>
                <td id="teom-id2">Id</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Position</th>
                <th scope="col">Coordinates</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="teom-position2">On the floor</td>
                <td id="teom-coordinates2">X:0 Y:0</td>
                <td id="teom-delete2">
                  <button id="delete-entity-btn2">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-contact"
    role="tabpanel"
    aria-labelledby="pills-contact-tab"
    tabindex="0"
  >
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
          <table class="table" id="taken-entity">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img id="taken-image" src="static\images\empty.png" />
                </td>
                <td id="taken-class">Class</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Coordinates</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="taken-id">Id</td>
                <td id="taken-coordinates">X:0 Y:0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
