<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lorenzo Colavecchi</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.png" />

    <link rel="stylesheet" type="text/css" href="static\css\style.css" />

    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
  </head>

  <body>
    <div class="container">
      <!--  Navbar -->
      <nav class="navbar navbar-expand-lg bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SGMCIR</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Entities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" disabled>Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End navbar-->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Impostazioni mappa
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Modifica celle
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact-tab-pane"
            type="button"
            role="tab"
            aria-controls="contact-tab-pane"
            aria-selected="false"
          >
            Comandi
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="disabled-tab"
            data-bs-toggle="tab"
            data-bs-target="#disabled-tab-pane"
            type="button"
            role="tab"
            aria-controls="disabled-tab-pane"
            aria-selected="false"
          >
            Upload/Download Mappa
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <div id="righe-label">
            <label for="fname">Numero righe</label>
            <input type="number" id="height" name="height" value="6" min="1" />
          </div>
          <div id="colonne-label">
            <label for="lname">Numero colonne</label>
            <input type="number" id="width" name="width" value="8" min="1" />
          </div>
          <button type="button" id="drawButton">Redraw canvas</button>
          <div class="clear-float"></div>
        </div>
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <select name="list" id="zone">
            <option value="kitchen">Kitchen</option>
            <option value="bathroom">Bathroom</option>
            <option value="livingroom">Living Room</option>
            <option value="bedroom">Bedroom</option>
            <option value="balcony">Balcony</option>
          </select>
          <label for="checkBox">Cambia zona</label>
          <input
            type="checkbox"
            id="color-checkbox"
            title="Abilitare modifiche"
          />
          <label for="checkBox">Modifica muri</label>
          <input
            type="checkbox"
            id="walls-checkbox"
            title="Abilita per cambiare i muri"
          />
          <button id="delete-path">Cancella percorso</button>
        </div>
        <div
          class="tab-pane fade"
          id="contact-tab-pane"
          role="tabpanel"
          aria-labelledby="contact-tab"
          tabindex="0"
        >
          <div id="input-output-grid">
            <div class="io-grid-element">
              <textarea id="input-text" placeholder="Input text"></textarea>
            </div>
            <div class="io-grid-element">
              <textarea
                readonly
                id="output-text"
                placeholder="Output text"
              ></textarea>
            </div>
            <button id="translate-button">
              <p>Avvia comando</p>
            </button>
          </div>
          <div id="motion-agent">
            <label for="checkBox">Muovi agente</label><br />
            <input
              type="checkbox"
              id="move-agent"
              title="Abilita per muovere l'agente"
            />
          </div>
          <button id="delete-path">Cancella percorso</button>
        </div>
        <div
          class="tab-pane fade"
          id="disabled-tab-pane"
          role="tabpanel"
          aria-labelledby="disabled-tab"
          tabindex="0"
        >
          <form id="upload">
            <input type="file" id="file" accept=".json" />

            <button id="upload-btn">Upload</button>
          </form>
          <button id="buttontest">Download</button>
        </div>
      </div>
      <hr />

      <div id="canvas-zone"></div>
      <div id="tab-list">
        <ul
          data-cls-tabs="flex-justify-start"
          data-role="tabs"
          data-expand="true"
        >
          <li><a href="#_target_4">Entità</a></li>
          <li><a href="#_target_5">Tabella informazioni</a></li>
          <li id="taken-title"><a href="#_target_6">Entità afferrata</a></li>
        </ul>

        <div class="border bd-default no-border-top p-2">
          <div id="_target_4">
            <div id="entita">
              <div class="column" id="img-list"></div>
            </div>
            <div id="table-img-list">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Class</th>
                    <th scope="col">Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img id="til-image" src="static\images\empty.png" />
                    </td>
                    <td id="til-class">Select an entity</td>
                    <td>
                      <select name="list" id="til-position">
                        <option value="on-floor">On the floor</option>
                        <option value="on-top">On top</option>
                        <option value="on-bottom">On bottom</option>
                        <option value="inside">Inside</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Orientation</th>
                    <th scope="col" id="power_status_col" class="hidden">
                      Power status
                    </th>
                    <th scope="col" id="physical_status_col" class="hidden">
                      Physical status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select name="list" id="size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="big">Big</option>
                      </select>
                    </td>
                    <td>
                      <select name="list" id="orientation">
                        <option value="horizontal">Horizontal</option>
                        <option value="vertical">Vertical</option>
                      </select>
                    </td>
                    <td id="power_status" class="hidden">
                      <select name="list" id="power_status_value">
                        <option value="on">On</option>
                        <option value="off">Off</option>
                      </select>
                    </td>
                    <td id="physical_status" class="hidden">
                      <select name="list" id="physical_status_value">
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="_target_5">
            <div class="width_33" id="cell-table">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Class</th>
                    <th scope="col">Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="cell-class">Cell</td>
                    <td id="cell-id">Id</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Zone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="cell-coordinates">X:0 Y:0</td>
                    <td id="cell-zone">Zone</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="width_33 hidden" id="table-entity-on-map0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Class</th>
                    <th scope="col">Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img id="teom-image0" src="static\images\empty.png" />
                    </td>
                    <td id="teom-class0">Class</td>
                    <td id="teom-id0">Id</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="teom-position0">On the floor</td>
                    <td id="teom-coordinates0">X:0 Y:0</td>
                    <td id="teom-delete0">
                      <button id="delete-entity-btn0">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="width_33 hidden" id="table-entity-on-map1">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Class</th>
                    <th scope="col">Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img id="teom-image1" src="static\images\empty.png" />
                    </td>
                    <td id="teom-class1">Class</td>
                    <td id="teom-id1">Id</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="teom-position1">On the floor</td>
                    <td id="teom-coordinates1">X:0 Y:0</td>
                    <td id="teom-delete1">
                      <button id="delete-entity-btn1">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="width_33 hidden" id="table-entity-on-map2">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Class</th>
                    <th scope="col">Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img id="teom-image2" src="static\images\empty.png" />
                    </td>
                    <td id="teom-class2">Class</td>
                    <td id="teom-id2">Id</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="teom-position2">On the floor</td>
                    <td id="teom-coordinates2">X:0 Y:0</td>
                    <td id="teom-delete2">
                      <button id="delete-entity-btn2">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="_target_6">
            <div class="width_50" id="taken-entity">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Class</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img id="taken-image" src="static\images\empty.png" />
                    </td>
                    <td id="taken-class">Class</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Coordinates</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="taken-id">Id</td>
                    <td id="taken-coordinates">X:0 Y:0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="clear-float"></div>
        </div>
      </div>

      <footer>
        <h6>
          Lorenzo Colavecchi -
          <a href="https://github.com/Bludnec"
            >GitHub <i class="bi bi-github"></i
          ></a>
        </h6>
      </footer>
    </div>

    <script src="static\js\fetch\allFetch.js"></script>
    <script src="static\js\fetch\cellFetch.js"></script>
    <script src="static\js\fetch\entityFetch.js"></script>

    <script src="static\js\downUpMap.js"></script>

    <script src="static\js\entities\position.js"></script>
    <script src="static\js\entities\cell.js"></script>
    <script src="static\js\entities\entity.js"></script>

    <script src="static\js\searchAlgorithm\astarAlgoritm.js"></script>

    <script src="static\js\agent\agent.js"></script>

    <script src="static\js\agent\actionTranslator.js"></script>

    <script src="static\js\eventListener.js"></script>
    <script src="static\js\inputGenerator.js"></script>

    <script src="static\js\mapEditor.js"></script>

    <script src="static\js\sketch.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
