<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tesi di Laurea</title>

    <link rel="stylesheet" type="text/css" href="static\css\style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <script src="static\js\libraries/p5.min.js"></script>
    <script src="static\js\libraries/p5.sound.min.js"></script>
  </head>

  <body>
    <div id="container">
      <h1 id="title">Test</h1>

      <form id="map-setting-form">
        <legend>Impostazioni mappa</legend>
        <label for="fname">Numero righe </label><br />
        <input type="number" id="height" name="height" value="6" /><br />
        <label for="lname">Numero colonne</label><br />
        <input type="number" id="width" name="width" value="8" /><br /><br />

        <button type="button" id="drawButton">Redraw canvas</button>
      </form>

      <form id="zone-form">
        <legend>Zona e colore della cella</legend>
        <label for="fname">Zona </label><br />

        <select name="list" id="zone">
          <option value="kitchen">Kitchen</option>
          <option value="bathroom">Bathroom</option>
          <option value="livingRoom">Living Room</option>
          <option value="bedroom">Bedroom</option>
          <option value="balcony">Balcony</option>
        </select>
        <label for="checkBox">Cambia zona</label><br />
        <input
          type="checkbox"
          id="color-checkbox"
          title="Abilitare modifiche"
        /><br />
        <label for="checkBox">Modifica muri</label><br />
        <input
          type="checkbox"
          id="walls-checkbox"
          title="Abilita per cambiare i muri"
        /><br />
        <label for="checkBox">Muovi agente</label><br />
        <input
          type="checkbox"
          id="move-agent"
          title="Abilita per muovere l'agente"
        /><br />
      </form>
      <div class="clear-float"></div>

      <!--<button id="save-map-button">Save Map</button>
      <button id="load-map-button">Load Map</button>-->

      <div id="input-output-grid">
        <div class="io-grid-element">
          <textarea id="input-text" placeholder="Input text"></textarea>
        </div>
        <div class="io-grid-element" id="io-button">
          <button id="translate-button">
            <i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
        <div class="io-grid-element">
          <textarea
            id="output-text"
            placeholder="Output text"
            readonly
          ></textarea>
        </div>
      </div>

      <div id="canvas-zone"></div>

      <div class="row">
        <div class="col-sm">
          <p>Entità</p>
          <div class="column" id="img-list"></div>
        </div>
        <div class="col-sm">
          <div id="table-img-list">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Class</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img id="til-image" src="static\images\empty.png" /></td>
                  <td id="til-class">Select an entity</td>
                  <td>
                    <select name="list" id="til-position">
                      <option value="on-floor">On the floor</option>
                      <option value="on-top">On top</option>
                      <option value="on-bottom">On bottom</option>
                      <option value="inside">Inside</option>
                    </select>
                  </td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">X</th>
                  <th scope="col">Y</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select name="list" id="til-size">
                      <option value="small">small</option>
                      <option value="medium">medium</option>
                      <option value="big">big</option>
                    </select>
                  </td>
                  <td>
                    <input
                      type="number"
                      id="til-x"
                      name="til-x"
                      min="1"
                      max="4"
                      value="1"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      id="til-y"
                      name="til-y"
                      min="1"
                      max="4"
                      value="1"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="hidden" id="table-entity-on-map">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Class</th>
                  <th scope="col">Id</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img id="teom-image" src="" /></td>
                  <td id="teom-class">Class</td>
                  <td id="teom-id">Id</td>
                  <td id="teom-position">On the floor</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">Coordinates</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="teom-size">Small</td>
                  <td id="teom-coordinates">X:0 Y:0</td>
                  <td id="teom-delete">
                    <button id="delete-entity-btn">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <footer></footer>
    </div>

    <script src="static\js\fetch\allFetch.js"></script>

    <script src="static\js\entities\position.js"></script>
    <script src="static\js\entities\cell.js"></script>
    <script src="static\js\entities\entity.js"></script>

    <script src="static\js\searchAlgorithm\astarAlgoritm.js"></script>

    <script src="static\js\agent\agent.js"></script>

    <script src="static\js\agent\actionTranslator.js"></script>

    <script src="static\js\eventListener.js"></script>
    <script src="static\js\lexicalMap.js"></script>

    <script src="static\js\mapEditor.js"></script>

    <script src="static\js\sketch.js"></script>
  </body>
</html>
