<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lorenzo Colavecchi</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.png" />

    <link rel="stylesheet" type="text/css" href="static\css\style.css" />

    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
  </head>

  <body>
    <div class="container" style="margin-top: 20px">
      <!--  Navbar -->
      <!-- <nav class="navbar navbar-expand-lg bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SGMCIR</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Entities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" disabled>Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      <!-- End navbar-->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <!-- Impostazioni mappa button -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Impostazioni mappa
          </button>
        </li>
        <!-- Modifica celle button -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Modifica celle
          </button>
        </li>
        <!-- Comandi button -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="commands-tab"
            data-bs-toggle="tab"
            data-bs-target="#commands-tab-pane"
            type="button"
            role="tab"
            aria-controls="commands-tab-pane"
            aria-selected="false"
          >
            Comandi
          </button>
        </li>
        <!-- Costruzione content button -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="costruzione-tab"
            data-bs-toggle="tab"
            data-bs-target="#costruzione-tab-pane"
            type="button"
            role="tab"
            aria-controls="costruzione-tab-pane"
            aria-selected="false"
          >
            Costruzione
          </button>
        </li>
        <!-- Q&A button -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="qa-tab"
            data-bs-toggle="tab"
            data-bs-target="#qa-tab-pane"
            type="button"
            role="tab"
            aria-controls="qa-tab-pane"
            aria-selected="false"
          >
            Q&A
          </button>
        </li>
        <!-- Feedback button -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="feedback-tab"
            data-bs-toggle="tab"
            data-bs-target="#feedback-tab-pane"
            type="button"
            role="tab"
            aria-controls="feedback-tab-pane"
            aria-selected="false"
          >
            Feedback
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Impostazioni mappa content -->
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <div class="container text-center">
            <div class="row row-cols-auto">
              <div class="col">
                <div id="righe-label">
                  <label for="fname"><b>Righe</b></label>
                  <input
                    type="number"
                    id="map-height"
                    name="map-height"
                    value="6"
                    min="1"
                    max="50"
                  />
                </div>
              </div>
              <div class="col">
                <div id="colonne-label">
                  <label for="lname"> <b>Colonne</b></label>
                  <input
                    type="number"
                    id="map-width"
                    name="map-width"
                    value="8"
                    min="1"
                    max="50"
                  />
                </div>
              </div>
              <div class="col">
                <button
                  class="btn btn-primary"
                  type="button"
                  style="margin-top: 15px"
                  id="drawButton"
                >
                  Ridimensiona mappa
                </button>
              </div>
            </div>
          </div>

          <div class="clear-float"></div>
        </div>
        <!-- Modifica celle content -->
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <div class="container">
            <div class="row row-cols-auto">
              <div class="col">
                <select class="form-select" name="list" id="zone">
                  <option value="kitchen">Kitchen</option>
                  <option value="bathroom">Bathroom</option>
                  <option value="livingroom">Living Room</option>
                  <option value="bedroom">Bedroom</option>
                  <option value="balcony">Balcony</option>
                </select>
              </div>
              <div class="col">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="color-checkbox"
                    title="Abilitare modifiche"
                  />
                  <label class="form-check-label" for="color-checkbox"
                    >Cambia zona</label
                  >
                </div>
              </div>

              <div class="col">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="walls-checkbox"
                    title="Abilita per cambiare i muri"
                  />
                  <label class="form-check-label" for="walls-checkbox"
                    >Modifica muri</label
                  >
                </div>
              </div>
              <div class="col">
                <button class="btn btn-danger" id="delete-path">
                  Cancella percorso
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Comandi content -->
        <div
          class="tab-pane fade"
          id="commands-tab-pane"
          role="tabpanel"
          aria-labelledby="commands-tab"
          tabindex="0"
        >
          <div id="input-output-grid">
            <div class="io-grid-element">
              <textarea id="input-text" placeholder="Input text"></textarea>
            </div>
            <div class="io-grid-element">
              <textarea
                readonly
                id="output-text"
                placeholder="Output text"
              ></textarea>
            </div>
            <button class="btn btn-primary" id="translate-button">
              <p>Avvia comando</p>
            </button>
          </div>
          <div id="motion-agent">
            <label for="checkBox">Muovi agente</label><br />
            <input
              type="checkbox"
              id="move-agent"
              title="Abilita per muovere l'agente"
            />
          </div>
          <button id="delete-path">Cancella percorso</button>
        </div>
        <!-- Costruzione content -->
        <div
          class="tab-pane fade"
          id="costruzione-tab-pane"
          role="tabpanel"
          aria-labelledby="costruzione-tab"
          tabindex="0"
        >
          <div class="container text-left">
            <div class="row">
              <div class="col-5">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Question"
                    id="question-costruzione"
                    style="height: 100px"
                  ></textarea>
                  <label for="question-costruzione">Question</label>
                </div>
              </div>
              <div class="col-5">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Answer"
                    id="answer-costruzione"
                    style="height: 100px"
                  ></textarea>
                  <label for="answer-costruzione">Answer</label>
                </div>
              </div>
              <div class="col">
                <button
                  id="send-construction-info"
                  class="btn btn-primary"
                  style="margin-top: 10px"
                >
                  Invia <i class="bi bi-send"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Q&A content -->
        <div
          class="tab-pane fade"
          id="qa-tab-pane"
          role="tabpanel"
          aria-labelledby="qa-tab"
          tabindex="0"
        >
          <div class="container text-center">
            <div class="row align-items-center">
              <!-- Question -->
              <div class="col-4">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="qa-question-textarea"
                  ></textarea>
                  <label for="qa-question-textarea">Question</label>
                </div>
              </div>
              <!-- Button send Question-->
              <div class="col-1">
                <button class="btn btn-sm btn-primary" id="send-question-qa">
                  <i class="bi bi-arrow-right-short fs-4"></i>
                </button>
              </div>
              <!-- Answer -->
              <div class="col-4">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="qa-answer-textarea"
                    disabled
                  ></textarea>
                  <label for="qa-answer-textarea">Answer</label>
                </div>
              </div>
              <!-- Feedback buttons -->
              <div class="col-1">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="ok-feedback-qa"
                    autocomplete="off"
                    checked
                  />
                  <label
                    class="btn btn-outline-success btn-l"
                    for="ok-feedback-qa"
                    ><i class="bi bi-hand-thumbs-up"></i
                  ></label>

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="wrong-feedback-qa"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-danger btn-l"
                    for="wrong-feedback-qa"
                    ><i class="bi bi-hand-thumbs-down"></i
                  ></label>
                </div>
              </div>
              <!-- Send Feedback button-->
              <div class="col-2">
                <button class="btn btn-primary" id="send-feedback-qa">
                  Send Feedback <i class="bi bi-send"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Feedback content -->
        <div
          class="tab-pane fade"
          id="feedback-tab-pane"
          role="tabpanel"
          aria-labelledby="feedback-tab"
          tabindex="0"
        >
          <div class="container text-center">
            <div class="row align-items-center">
              <!-- Question -->
              <div class="col-4">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="feedback-question-textarea"
                    disabled
                  ></textarea>
                  <label for="feedback-question-textarea">Question</label>
                </div>
              </div>
              <!-- Button send Question-->
              <div class="col-1">
                <button
                  class="btn btn-sm btn-primary"
                  id="send-question-feedback"
                >
                  <i class="bi bi-arrow-right-short fs-4"></i>
                </button>
              </div>
              <!-- Answer -->
              <div class="col-4">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="feedback-answer-textarea"
                    disabled
                  ></textarea>
                  <label for="feedback-answer-textarea">Answer</label>
                </div>
              </div>
              <!-- Feedback buttons -->
              <div class="col-1">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="ok-feedback-feedback"
                    autocomplete="off"
                    checked
                  />
                  <label
                    class="btn btn-outline-success btn-l"
                    for="ok-feedback-feedback"
                    ><i class="bi bi-hand-thumbs-up"></i
                  ></label>

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="wrong-feedback-feedback"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-danger btn-l"
                    for="wrong-feedback-feedback"
                    ><i class="bi bi-hand-thumbs-down"></i
                  ></label>
                </div>
              </div>
              <!-- Send Feedback button-->
              <div class="col-2">
                <button class="btn btn-primary" id="send-feedback-feedback">
                  Send Feedback <i class="bi bi-send"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <!-- Upload/Download grid-->
      <div class="container" style="margin-bottom: 20px">
        <div class="row">
          <div class="col-auto">
            <button class="btn btn-primary" id="download-btn">
              Download Map
            </button>
          </div>
          <div class="col-auto">
            <form id="upload">
              <button
                class="btn btn-primary"
                id="upload-btn"
                style="margin-right: 20px"
              >
                Upload Map
              </button>
              <input type="file" id="file" accept=".txt" />
            </form>
          </div>
          <div class="col-auto">{% include 'modal_map_list.html' %}</div>
        </div>
      </div>

      {% include 'error_entity.html' %}
      <!-- Canvas - Mappa -->
      <div id="canvas-zone"></div>

      <!-- Tabella inferiore -->
      <!-- Menu tabella inferiore-->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            Entità
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            Tabella informazioni
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            Entità afferrata
          </button>
        </li>
      </ul>
      <!-- Contenuto tabella inferiore-->
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          <div class="container">
            <div class="row">
              <div class="col-7" id="entita">
                <div class="column" id="img-list"></div>
              </div>
              <div class="col-5" id="table-img-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Class</th>
                      <th scope="col">Position</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img id="til-image" src="static\images\empty.png" />
                      </td>
                      <td id="til-class">Select an entity</td>
                      <td>
                        <select name="list" id="til-position">
                          <option value="on-floor">On the floor</option>
                          <option value="on-top">On top</option>
                          <option value="on-bottom">On bottom</option>
                          <option value="inside">Inside</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col">Size</th>
                      <th scope="col">Orientation</th>
                      <th scope="col" id="power_status_col" class="hidden">
                        Power status
                      </th>
                      <th scope="col" id="physical_status_col" class="hidden">
                        Physical status
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <select name="list" id="size">
                          <option value="small">Small</option>
                          <option value="medium">Medium</option>
                          <option value="big">Big</option>
                        </select>
                      </td>
                      <td>
                        <select name="list" id="orientation">
                          <option value="horizontal">Horizontal</option>
                          <option value="vertical">Vertical</option>
                        </select>
                      </td>
                      <td id="power_status" class="hidden">
                        <select name="list" id="power_status_value">
                          <option value="on">On</option>
                          <option value="off">Off</option>
                        </select>
                      </td>
                      <td id="physical_status" class="hidden">
                        <select name="list" id="physical_status_value">
                          <option value="open">Open</option>
                          <option value="closed">Closed</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
          tabindex="0"
        >
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <table class="table" id="cell-table">
                  <thead>
                    <tr>
                      <th scope="col">Class</th>
                      <th scope="col">Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="cell-class">Cell</td>
                      <td id="cell-id">Id</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col">Coordinates</th>
                      <th scope="col">Zone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="cell-coordinates">X:0 Y:0</td>
                      <td id="cell-zone">Zone</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                <table class="table hidden" id="table-entity-on-map0">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Class</th>
                      <th scope="col">Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img id="teom-image0" src="static\images\empty.png" />
                      </td>
                      <td id="teom-class0">Class</td>
                      <td id="teom-id0">Id</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col">Position</th>
                      <th scope="col">Coordinates</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="teom-position0">On the floor</td>
                      <td id="teom-coordinates0">X:0 Y:0</td>
                      <td id="teom-delete0">
                        <button id="delete-entity-btn0">
                          <i class="bi bi-trash3-fill"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                <table class="table hidden" id="table-entity-on-map1">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Class</th>
                      <th scope="col">Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img id="teom-image1" src="static\images\empty.png" />
                      </td>
                      <td id="teom-class1">Class</td>
                      <td id="teom-id1">Id</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col">Position</th>
                      <th scope="col">Coordinates</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="teom-position1">On the floor</td>
                      <td id="teom-coordinates1">X:0 Y:0</td>
                      <td id="teom-delete1">
                        <button id="delete-entity-btn1">
                          <i class="bi bi-trash3-fill"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                <table class="table hidden" id="table-entity-on-map2">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Class</th>
                      <th scope="col">Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img id="teom-image2" src="static\images\empty.png" />
                      </td>
                      <td id="teom-class2">Class</td>
                      <td id="teom-id2">Id</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col">Position</th>
                      <th scope="col">Coordinates</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="teom-position2">On the floor</td>
                      <td id="teom-coordinates2">X:0 Y:0</td>
                      <td id="teom-delete2">
                        <button id="delete-entity-btn2">
                          <i class="bi bi-trash3-fill"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
          tabindex="0"
        >
          <div class="container text-center">
            <div class="row">
              <div class="col-3">
                <table class="table" id="taken-entity">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Class</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img id="taken-image" src="static\images\empty.png" />
                      </td>
                      <td id="taken-class">Class</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Coordinates</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="taken-id">Id</td>
                      <td id="taken-coordinates">X:0 Y:0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <hr />
      <footer class="bg-light text-center">
        <h6>
          Lorenzo Colavecchi -
          <a href="https://github.com/Bludnec"
            >GitHub <i class="bi bi-github"></i
          ></a>
        </h6>
      </footer>
    </div>

    <script src="static\js\fetch\allFetch.js"></script>
    <script src="static\js\fetch\cellFetch.js"></script>
    <script src="static\js\fetch\entityFetch.js"></script>

    <script src="static\js\downUpMap.js"></script>

    <script src="static\js\entities\position.js"></script>
    <script src="static\js\entities\cell.js"></script>
    <script src="static\js\entities\entity.js"></script>

    <script src="static\js\searchAlgorithm\astarAlgoritm.js"></script>

    <script src="static\js\agent\agent.js"></script>

    <script src="static\js\agent\actionTranslator.js"></script>

    <script src="static\js\eventListener.js"></script>
    <script src="static\js\inputGenerator.js"></script>

    <script src="static\js\mapEditor.js"></script>

    <script src="static\js\sketch.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
