<ul class="nav nav-tabs" id="myTab" role="tablist">
  <!-- Impostazioni mappa button -->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="home-tab"
      data-bs-toggle="tab"
      data-bs-target="#home-tab-pane"
      type="button"
      role="tab"
      aria-controls="home-tab-pane"
      aria-selected="true"
    >
      Impostazioni mappa
    </button>
  </li>
  <!-- Modifica celle button -->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#profile-tab-pane"
      type="button"
      role="tab"
      aria-controls="profile-tab-pane"
      aria-selected="false"
    >
      Modifica celle
    </button>
  </li>
  <!-- Comandi button -->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="commands-tab"
      data-bs-toggle="tab"
      data-bs-target="#commands-tab-pane"
      type="button"
      role="tab"
      aria-controls="commands-tab-pane"
      aria-selected="false"
    >
      Comandi
    </button>
  </li>
  <!-- Costruzione content button -->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="costruzione-tab"
      data-bs-toggle="tab"
      data-bs-target="#costruzione-tab-pane"
      type="button"
      role="tab"
      aria-controls="costruzione-tab-pane"
      aria-selected="false"
    >
      Costruzione
    </button>
  </li>
  <!-- Q&A button -->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="qa-tab"
      data-bs-toggle="tab"
      data-bs-target="#qa-tab-pane"
      type="button"
      role="tab"
      aria-controls="qa-tab-pane"
      aria-selected="false"
    >
      Q&A
    </button>
  </li>
  <!-- Feedback button -->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="feedback-tab"
      data-bs-toggle="tab"
      data-bs-target="#feedback-tab-pane"
      type="button"
      role="tab"
      aria-controls="feedback-tab-pane"
      aria-selected="false"
    >
      Feedback
    </button>
  </li>
</ul>
