<!-- Impostazioni mappa content -->
<div
  class="tab-pane fade show active"
  id="home-tab-pane"
  role="tabpanel"
  aria-labelledby="home-tab"
  tabindex="0"
>
  <div class="container text-center">
    <div class="row row-cols-auto">
      <div class="col">
        <div id="righe-label">
          <label for="fname"><b>Righe</b></label>
          <input
            type="number"
            id="map-height"
            name="map-height"
            value="6"
            min="1"
            max="50"
          />
        </div>
      </div>
      <div class="col">
        <div id="colonne-label">
          <label for="lname"> <b>Colonne</b></label>
          <input
            type="number"
            id="map-width"
            name="map-width"
            value="8"
            min="1"
            max="50"
          />
        </div>
      </div>
      <div class="col">
        <button
          class="btn btn-primary"
          type="button"
          style="margin-top: 15px"
          id="drawButton"
        >
          Ridimensiona
        </button>
      </div>
    </div>
  </div>

  <div class="clear-float"></div>
</div>
<!-- Modifica celle content -->
<div
  class="tab-pane fade"
  id="profile-tab-pane"
  role="tabpanel"
  aria-labelledby="profile-tab"
  tabindex="0"
>
  <div class="container">
    <div class="row row-cols-auto">
      <div class="col">
        <select class="form-select" name="list" id="zone">
          <option value="kitchen">Kitchen</option>
          <option value="bathroom">Bathroom</option>
          <option value="livingroom">Living Room</option>
          <option value="bedroom">Bedroom</option>
          <option value="balcony">Balcony</option>
        </select>
      </div>
      <div class="col">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="color-checkbox"
            title="Abilitare modifiche"
          />
          <label class="form-check-label" for="color-checkbox"
            >Cambia zona</label
          >
        </div>
      </div>

      <div class="col">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="walls-checkbox"
            title="Abilita per cambiare i muri"
          />
          <label class="form-check-label" for="walls-checkbox"
            >Modifica muri</label
          >
        </div>
      </div>
      <div class="col">
        <button class="btn btn-danger" id="delete-path">
          Cancella percorso
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Comandi content -->
<div
  class="tab-pane fade"
  id="commands-tab-pane"
  role="tabpanel"
  aria-labelledby="commands-tab"
  tabindex="0"
>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Input"
            id="input-text"
            style="height: 100px; max-height: 150px"
          ></textarea>
          <label for="input-text">Input</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Output"
            id="output-text"
            style="height: 100px; max-height: 150px"
          ></textarea>
          <label for="output-text">Output</label>
        </div>
      </div>
      <div class="col-2">
        <button
          class="btn btn-primary"
          id="translate-button"
          style="margin-bottom: 10px"
        >
          Avvia Comando
        </button>
        <button class="btn btn-danger" id="delete-path">
          Cancella Percorso
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="io-grid-element">
      <textarea id="input-text" placeholder="Input"></textarea>
    </div>
    <div class="io-grid-element">
      <textarea disabled id="output-text" placeholder="Output"></textarea>
    </div> -->

  <div class="container" style="margin-top: 15px">
    <div class="row">
      <div class="col-3">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="move-agent"
          />
          <label class="form-check-label" for="move-agent"
            >Muovi Agente manualmente</label
          >
        </div>
        <!-- <div id="motion-agent">
          <label for="checkBox">Muovi agente</label><br />
          <input
            type="checkbox"
            id="move-agent"
            title="Abilita per muovere l'agente"
          />
        </div> -->
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<!-- Costruzione content -->
<div
  class="tab-pane fade"
  id="costruzione-tab-pane"
  role="tabpanel"
  aria-labelledby="costruzione-tab"
  tabindex="0"
>
  <div class="container text-left">
    <div class="row">
      <div class="col-5">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Question"
            id="question-costruzione"
            style="height: 100px"
          ></textarea>
          <label for="question-costruzione">Question</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Answer"
            id="answer-costruzione"
            style="height: 100px"
          ></textarea>
          <label for="answer-costruzione">Answer</label>
        </div>
      </div>
      <div class="col">
        <button id="send-construction-info">
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                ></path>
              </svg>
            </div>
          </div>
          <span>Send</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Q&A content -->
<div
  class="tab-pane fade"
  id="qa-tab-pane"
  role="tabpanel"
  aria-labelledby="qa-tab"
  tabindex="0"
>
  <div class="container text-center">
    <div class="row align-items-center">
      <!-- Question -->
      <div class="col-4">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="qa-question-textarea"
          ></textarea>
          <label for="qa-question-textarea">Question</label>
        </div>
      </div>
      <!-- Button send Question-->
      <div class="col-1">
        <button class="btn btn-sm btn-primary" id="send-question-qa">
          <i class="bi bi-arrow-right-short fs-4"></i>
        </button>
      </div>
      <!-- Answer -->
      <div class="col-4">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="qa-answer-textarea"
            disabled
          ></textarea>
          <label for="qa-answer-textarea">Answer</label>
        </div>
      </div>
      <!-- Feedback buttons -->
      <div class="col-1">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="ok-feedback-qa"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-success btn-l" for="ok-feedback-qa"
            ><i class="bi bi-hand-thumbs-up"></i
          ></label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="wrong-feedback-qa"
            autocomplete="off"
          />
          <label class="btn btn-outline-danger btn-l" for="wrong-feedback-qa"
            ><i class="bi bi-hand-thumbs-down"></i
          ></label>
        </div>
      </div>
      <!-- Send Feedback button-->
      <div class="col-2">
        <button class="btn btn-primary" id="send-feedback-qa">
          Send Feedback <i class="bi bi-send"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Feedback content -->
<div
  class="tab-pane fade"
  id="feedback-tab-pane"
  role="tabpanel"
  aria-labelledby="feedback-tab"
  tabindex="0"
>
  <div class="container text-center">
    <div class="row align-items-center">
      <!-- Question -->
      <div class="col-4">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="feedback-question-textarea"
            disabled
          ></textarea>
          <label for="feedback-question-textarea">Question</label>
        </div>
      </div>
      <!-- Button send Question-->
      <div class="col-1">
        <button class="btn btn-sm btn-primary" id="send-question-feedback">
          <i class="bi bi-arrow-right-short fs-4"></i>
        </button>
      </div>
      <!-- Answer -->
      <div class="col-4">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="feedback-answer-textarea"
            disabled
          ></textarea>
          <label for="feedback-answer-textarea">Answer</label>
        </div>
      </div>
      <!-- Feedback buttons -->
      <div class="col-1">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="ok-feedback-feedback"
            autocomplete="off"
            checked
          />
          <label
            class="btn btn-outline-success btn-l"
            for="ok-feedback-feedback"
            ><i class="bi bi-hand-thumbs-up"></i
          ></label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="wrong-feedback-feedback"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-danger btn-l"
            for="wrong-feedback-feedback"
            ><i class="bi bi-hand-thumbs-down"></i
          ></label>
        </div>
      </div>
      <!-- Send Feedback button-->
      <div class="col-2">
        <button class="btn btn-primary" id="send-feedback-feedback">
          Send Feedback <i class="bi bi-send"></i>
        </button>
      </div>
    </div>
  </div>
</div>
