<!-- Modal test-->
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  id="mappe_salvate"
>
  Mappe Salvate
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Lista mappe salvate
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <select
          id="option_lista_mappe"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>Lista mappe salvate</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Elimina</button>
        <button type="button" class="btn btn-success">Carica</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#mappe_salvate").click(function () {
    fetch("/static/map/")
      .then((response) => response.json())
      .then((data) => {
        $("#option_lista_mappe").find("option").remove().end();
        for (let i = 0; i < data.length; i++) {
          let option = document.createElement("option");
          option.value = data[i];
          option.text = data[i];
          $("#option_lista_mappe").append(option);
        }
      })
      .catch((error) => console.log("Error:", error));
  });
</script>
