<!-- Modal test-->
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  id="mappe_salvate"
>
  Mappe Salvate
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Lista mappe salvate
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Upload/Download grid-->
      <div class="modal-body">
        <!-- Carica mappa da file -->
        <div class="container" style="margin-bottom: 20px">
          <div class="row">
            <h2 class="fs-5" style="margin-bottom: 15px">
              Carica la mappa da file
            </h2>

            <form id="upload">
              <div class="row">
                <div class="col-7">
                  <input type="file" id="file" accept=".txt" />
                </div>
                <div class="col-5">
                  <button class="btn btn-primary" id="upload-btn">
                    Carica Mappa
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <hr />

        <!-- Seleziona mappa da server -->
        <div class="container" style="margin-bottom: 20px">
          <div class="row">
            <h2 class="fs-5" style="margin-bottom: 15px">
              Seleziona la mappa salvata
            </h2>
            <div class="col-7">
              <select
                id="option_lista_mappe"
                class="form-select"
                aria-label="Default select example"
              ></select>
            </div>
            <div class="col-5">
              <button
                type="button"
                class="btn btn-success"
                id="carica_mappa_server"
              >
                Carica
              </button>
              <button
                type="button"
                class="btn btn-danger"
                id="elimina_mappa_server"
                disabled
              >
                Elimina
              </button>
            </div>
          </div>
        </div>

        <hr />

        <!-- Salva mappa creata-->
        <div class="container" style="margin-bottom: 20px">
          <div class="row">
            <h2 class="fs-5" style="margin-bottom: 15px">
              Salva la mappa creata
            </h2>
            <div class="col-7">
              <div class="input-group has-validation">
                <div class="form-floating is-invalid">
                  <input
                    type="text"
                    class="form-control"
                    id="text_area_salva_mappa"
                    placeholder="Nome"
                  />
                  <label for="floatingInputGroup2">Nome Mappa</label>
                </div>
                <div
                  class="invalid-feedback visually-hidden"
                  id="invalid_name_error"
                >
                  Inserisci un nome.
                </div>
              </div>
            </div>
            <div class="col-5">
              <button class="btn btn-success" id="button_salva_mappa">
                Salva sul Server
              </button>
              <button
                class="btn btn-primary"
                id="download-btn"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Scarica file JSON della mappa."
              >
                Scarica File
              </button>
            </div>
          </div>
        </div>

        <hr />

        <!-- Modal salvataggio mappa success sul server-->
        <div
          class="alert alert-success hidden"
          role="alert"
          id="save_map_success"
        >
          Mappa salvata con successo!
        </div>

        <!-- Modal salvataggio mappa error sul server-->
        <div class="alert alert-danger hidden" role="alert" id="save_map_fail">
          Errore nel caricamento della mappa! Caratteri non validi.
        </div>
      </div>
    </div>

    <script>
      // Carica la lista delle mappe salvate
      function caricaListaMappe() {
        fetch("/static/map/")
          .then((response) => response.json())
          .then((data) => {
            $("#option_lista_mappe").find("option").remove().end();
            for (let i = 0; i < data.length; i++) {
              let option = document.createElement("option");
              option.value = data[i];
              option.text = data[i];
              $("#option_lista_mappe").append(option);
            }
          })
          .catch((error) => console.log("Error:", error));
      }

      $("#mappe_salvate").click(caricaListaMappe());

      $("#carica_mappa_server").click(function () {
        let name = $("#option_lista_mappe option:selected").text();
        console.log(name);
        fetch("/static/map/" + name)
          .then((response) => response.json())
          .then((data) => {
            caricaMappaSalvata(data);
          })
          .catch((error) => console.log("Error:", error));
      });

      // Salva la mappa sul server
      $("#button_salva_mappa").click(function () {
        let name = $("#text_area_salva_mappa").val();
        if (name == "" || name == undefined) {
          $("#text_area_salva_mappa").addClass("is-invalid");
          $("#invalid_name_error").removeClass("visually-hidden");
        } else {
          getInfoDownload().then((data) => {
            $("#text_area_salva_mappa").removeClass("is-invalid");
            $("#invalid_name_error").addClass("visually-hidden");

            fetch("/static/map/" + name, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(data),
            })
              .then((response) => response.json())
              .then((data) => {
                $("#save_map_success").toggleClass("hidden");
                caricaListaMappe();
                setTimeout(function () {
                  $("#save_map_success").toggleClass("hidden");
                }, 3000);
              })
              .catch((error) => {
                $("#save_map_fail").toggleClass("hidden");
                setTimeout(function () {
                  $("#save_map_fail").toggleClass("hidden");
                }, 3000);
              });
          });
        }
      });
    </script>
  </div>
</div>
